jre7lib=/Users/vpalepu/open-source/java/golden/jre1.7.0_60.jre/Contents/Home/lib

argclass=org.spideruci.analysis.statik.subjects.CallGraphSubject
#entryclass=org.spideruci.analysis.statik.subjects.CallGraphSubject
#entrymethod=doStuff

debug=false

# callgraph-algo options: cha, spark
callgraph-algo=cha

# Use sutjarpath and classpath to setup directories and jar files 
# to the classpath for Soot to perform the analysis appropriately.
classpath=./target/test-classes/
#sutjarpath=/Users/Ku/workspace/joda-time/target/joda-time-2.9.5-SNAPSHOT-jar-with-dependencies.jar
#classpath=/Users/Ku/workspace/joda-time/target/test-classes
