jre7lib=/Users/Ku/Documents/uci/research/jre1.7.0_60.jre/Contents/Home/lib

#argclass=org.spideruci.analysis.statik.subjects.CallGraphSubject

#######Joda-time
#argclass=/Users/Ku/workspace/joda-time/target/test-classes
#sutjarpath=/Users/Ku/workspace/joda-time/target/joda-time-2.9.5-SNAPSHOT-jar-with-dependencies.jar
#classpath=/Users/Ku/workspace/joda-time/target/test-classes
#entrymethodsdb=/Users/Ku/Desktop/paper-result/joda-time/joda-time2.db

#######JSoup
argclass=/Users/Ku/workspace/jsoup/target/test-classes
sutjarpath=/Users/Ku/workspace/jsoup/target/jsoup-1.10.3-SNAPSHOT-jar-with-dependencies.jar
classpath=/Users/Ku/workspace/jsoup/target/test-classes
entrymethodsdb=/Users/Ku/Desktop/paper-result/jsoup/jsoup2.db

######GSON
#argclass=/Users/Ku/workspace/gson/gson/target/test-classes
#sutjarpath=/Users/Ku/workspace/gson/gson/target/gson-2.8.1-SNAPSHOT-jar-with-dependencies.jar
#classpath=/Users/Ku/workspace/gson/gson/target/test-classes
#entrymethodsdb=/Users/Ku/Desktop/paper-result/gson/gson.db

######EMAIL
#argclass=br.com.caelum.vraptor.simplemail.MailerFactoryTest
#sutjarpath=/Users/Ku/workspace/vraptor-simplemail/target/vraptor-simplemail-1.3.9-SNAPSHOT-jar-with-dependencies.jar
#classpath=/Users/Ku/workspace/vraptor-simplemail/target/test-classes
#entrymethodsdb=/Users/Ku/Documents/uci/research/tacoco/simplemail/simplemail.db 


#entryclass=org.spideruci.analysis.statik.subjects.CallGraphSubject
#entryclass=org.joda.time.TestAllPackages

#$ org.spideruci.analysis.statik.blocks.CallGraphBlock

#entrymethod=main

debug=false

# callgraph-algo options: cha, spark
callgraph-algo=cha

# Use sutjarpath and classpath to setup directories and jar files 
# to the classpath for Soot to perform the analysis appropriately.
#classpath=./target/test-classes/
#sutjarpath=/Users/Ku/workspace/joda-time/target/joda-time-2.9.5-SNAPSHOT-jar-with-dependencies.jar
#classpath=/Users/Ku/workspace/joda-time/target/test-classes
$   org.spideruci.analysis.statik.blocks.FlowBlock