jre7lib=/Users/vpalepu/open-source/java/golden/jre1.7.0_60.jre/Contents/Home/lib
argclass=org.spideruci.analysis.statik.subjects.CallGraphSubject
entryclass=org.spideruci.analysis.statik.subjects.CallGraphSubject
entrymethod=doStuff
debug=false
# callgraph-algo options: cha, spark
callgraph-algo=spark