-javaagent:/Users/vpalepu/phd-open-source/blinky/blinky-core/target/blinky-core-0.0.1-SNAPSHOT-jar-with-dependencies.jar=l,frames

-cp:/Users/vpalepu/phd-open-source/blinky/blinky-tacoco/target/blinky-tacoco-0.0.1-SNAPSHOT-jar-with-dependencies.jar

#-javaagent:$TACOCO_HOME$/lib/blinky-core-0.0.1-SNAPSHOT-jar-with-dependencies.jar=l,frames,sourcename,calldepth

-Dtacoco.listeners=org.spideruci.analysis.tacoco.BlinkyListener
-Dtacoco.analyzer=org.spideruci.analysis.tacoco.BlinkyAnalyzer
#-Dtacoco.analyzer=org.spideruci.tacoco.analysis.TacocoAnalyzer
